* {font-family: Cambria;
    background-color: floralwhite;
    margin:0%
    padding:0%
    
    align-items: center;
    justify-content:center;
}

.color1 {color: #ca7b4a;}
.color2 {color: #d09255;}
.color3 {color: #dabb7d;}
.color4 {color: #e2e1a8;}
.color5 {color: #e8e8c9;}

.title{
    font-size: large;
    color: brown;
}

.botas{
    width: auto;
    height: 1em;
}


.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}